* {
    margin: 0;
    padding: 0;
}


body {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to right, #0b0b0b, #2a222f);
}


nav {
    background-color: #540D6E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}

.logo {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.logoimg {
    height: 35px;
    width: 35px;
}

a {
    color: #F6F8FF;
    text-decoration: none;
    transition: 0.4s;
}

a:hover {
    font-size: 20px;
    opacity: 0.7;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
    letter-spacing: 1.5px;
}

h2 {
    text-align: center;
    padding: 30px;
    font-size: 3.5vh;
    color: #ffff;
}

h3 {
    color: #ffff;
    font-size: 25px;
}

p {
    color: #FFFF;
}

h2:hover {
    font-size: 4vh;  
    letter-spacing: 1px;  /*faz um espaçamento entre as letras*/
    transition: 0.4s;  /*faz uma suavização na animação*/
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* adiciona essa linha */
    align-items: center;
}

.card-1 {
    height: 65vh;
    width: 20vh;
    justify-content: space-between;
    align-items: center;
    margin: 7vh 5px 1px; 
    cursor: pointer; 
    transition: 0.7s;
    background-color: rgb(148, 12, 12);
    
}

.card-2 {
    height: 65vh;
    width: 20vh;
    justify-content: space-between;
    align-items: center;
    margin: 7vh 5px 1px; 
    cursor: pointer; 
    transition: 0.7s;
    background-color: rgb(16, 11, 82);
    
}

.card-3 {
    height: 65vh;
    width: 20vh;
    justify-content: space-between;
    align-items: center;
    margin: 7vh 5px 1px; 
    cursor: pointer; 
    transition: 0.7s;
    background-color: rgb(214, 227, 33);
    
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

